<div class="landing flex">
    <div class="margin-right">
        <div>
            <h1>Cinema Ironhack</h1>
        </div>

        <button> <a href="/movies"> Check the movies</a></button>
    </div>
</div>